<!DOCTYPE html>

<div style="width:50%;margin:0px auto">
<h1 class="text-center"> Edit Post </h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :photo %>
  <%= f.input :description %>
  <%= f.submit 'Update', class: 'btn btn-primary btn-block comment_post_box'%>
<% end %>
</div>