<!DOCTYPE html>

<% if user_signed_in? %>

<div id="wall">
<%= render 'shared/post.html.erb' %>
</div>

<div id="infinite-scrolling" class="text-center">
  <%= will_paginate @posts %>
</div>

<% else %>

<div id="welcome">
<h2> Welcome To </h2>
<h1 class="welcome"> Instapost  </h1>
<h1 style="color:black"> Login or Signup to get started </h1>
<img class="welcome_page_img" src="https://s21.postimg.org/5en2r5s8n/logo.gif" >
</div>

<% end %>