<!DOCTYPE html>

<div style="width:50%;margin:0px auto">
<h1 class="text-center"> New Post Post </h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :photo, label: 'Photo' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.submit 'Post', class: 'btn btn-primary btn-block comment_post_box'%>
<% end %>
</div>